/* universal styling */
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
}

a {
  color: #333;
}

li {
  list-style-type: none;
}

/*  SIDE-BAR STYLING */
.sidebar {
  padding: 10px;

}

.sidebar-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}


.logo {
  max-width: 50px;
  max-height: 50px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: flex;
    justify-content: center;
  }

}

.sidebar-profile {
  margin-left: 40px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;


}

.sidebar-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.sidebar-tabs {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  gap: 1rem;

}

.icon-settings,
.icon-notification,
.icon-tickets {
  width: 20px;
  height: 20px;
  filter: invert(0%) sepia(99%) saturate(12%) hue-rotate(22deg) brightness(93%) contrast(95%);
}

.user-details {
  display: block;
  justify-content: center;
  text-align: center;

  & p {
    color: rgb(49, 49, 49);
    font-size: 15px;
  }
}


.sidesection {
  position: fixed;
  width: 400px;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 1px 5px 5px #aaaaaa;
  background-color: #fefefe;
  height: 100%;
  padding: 5px;
}


.menu-close,
.menu-open {
  display: none;
  width: 20px;
  height: 20px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    color: white;
  }
}


.user-contact {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;


}

.user-tabsection {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

}

.tabs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
  scroll-behavior: smooth;
  overflow: hidden;
  padding-left: 40px;
}

.tab {
  display: flex;
  align-items: center;
  cursor: pointer;


}

.tab img {
  width: 20px;
  height: 20px;
  filter: invert(0%) sepia(99%) saturate(12%) hue-rotate(45deg) brightness(93%) contrast(95%);
}

.tab-name {
  color: #000;
  font-size: 12px;
  margin-left: 1px;
  font-weight: 500;
  text-transform: capitalize;
  display: none;
}

.tab-name {
  display: none;
}

.tab.active .tab-name {
  display: flex;

  color: #0AA565;
}


.tab:hover {
  color: #026d02;
  transform: scale(1.1);
  transition: transform 1 ease-in-out;
  border-radius: 50% gray 1px;
}

.tab.active {
  color: #026d02;
  transform: scale(1.1);
  transition: transform 1 ease-in-out;
}

.icon-back {
  display: none;
}

.icon-back,
.icon-right {
  cursor: pointer;
  width: 20px;
  height: 20px;
  gap: 5px;
  /* Added spacing between icon and name */
}


.menu-divide {
  height: 1px;
  background-color: #030303;
}



.tab-content-wrapper {
  overflow-y: auto;
  height: 70vh;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

.contemtent-section {
  padding-top: 20px;
  margin-top: 20px;
}


.settings-menu {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.settings-list {
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
  width: 100%;

}

.setting-icon {
  display: flex;
  align-items: center;




  & a {
    display: flex;
    align-items: center;
    margin-left: 20px;
    width: 100%;

  }

  & .chevron-right {
    margin-left: auto;
  }
}

.settings-item img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.settings-item a {
  text-decoration: none;
}


.settings {
  font-size: 15px;
  font-weight: 700;
}


.submenu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 5px;
  margin-left: 30px;
  list-style-type: none;
  animation: slide-in 0.5s ease-in-out;
}

@keyframes slide-in {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.settings-menu,
h2 {
  display: flex;
  order: 2;
  font-size: 15px;
}

.notification-secttion,
.notification-header {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #3d3d3d;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 400;

}

.notification-secttion,
.notification-status {
  color: #222222;
  text-align: end;
  font-size: 10px;
  margin-bottom: 10px;
}

.notification-content {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 10px;
  border-bottom: rgb(192, 191, 191) solid 1px;
}


.notification-details {
  margin-left: 20Fpx;
  font-size: 10px;
}


.notification-time {
  display: flex;
  justify-content: end;
}

.notification-picture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 30px;
  overflow: hidden;

}

.notification-profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.title-receipt {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & i {
    color: #026d02;
    font-size: 15px;
  }


}


/*SERVICES SECTION STYLING STARTS HERE*/
#service {
  & h2 {
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;

  }
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-items: center;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.img-icon {
  width: 40px;
  height: 40px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;

  }


}

.icon-grid p {
  margin-top: 5px;
  font-size: 12px;
  text-transform: capitalize;
  font-weight: 600;
}

#pals {
  margin-top: 40px;
}

.pal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  margin: 10px 20px 0 20px;

}

/*SERVICES SECTION STYLING ENDS HERE*/

.wallet-card {
  padding: 20px;
  margin-top: 20px;
  width: 100%;
  background-color: #00a651;
  border-radius: 5px;
  overflow: hidden;
  text-transform: capitalize;
}

.total-rewards {
  color: white;
  text-align: center;
  line-height: 20px;

}


.reward-icon .visible {
  display: block;
}

.reward-icon .non-visible {
  display: none;
}

.reward-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  color: white;
  background-color: white;
  font-size: 20px;
  padding: 2px;
  overflow: hidden;
  border-radius: 100%;
  cursor: pointer;
}

.total-reward {
  display: flex;
  justify-content: space-between;
}

.rewards {
  display: flex;
  justify-content: space-between;
}

.current-reward,
.redeemed-reward {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
  font-weight: 600;
}

.current-reward p {
  color: #00a651;
}

.current-reward .reward {
  color: #3d3d3d;
}

.redeemed-reward .redeems {
  color: #C42026;
}

.redeemed-reward .redeem {
  color: #3d3d3d;
}

.tab-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.tab-redeemed,
.tab-rewarded {
  margin-top: 10px;
  padding: 10px 40px 10px 40px;
  text-align: center;
  width: 100%;
}

.reward-header {
  padding-top: 20px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
}

.reward-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: white;
  border-bottom: 1px solid rgb(129, 129, 129);
}

.reward-profile {
  display: flex;
  align-items: center;


}

.reward-picture {
  width: 60px;
  height: 60px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;

  }


}

.reward-name {
  font-size: 12px;

}


/*MAIN-CONTENT SECTION STYLING STARTS HERE*/
.main-content {
  position: relative;
  width: calc(100% - 400px);
  left: 400px;
}

.main-header {
  background-color: #0AA565;
  position: sticky;
  top: 0;



}


.main-nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;


}

.mainnav-tabs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;

  & #main-li {
    display: flex;
    align-items: center;
    transition: transform 0.3s;

    &:hover {
      transform: translateY(-5px);
    }

    & span {
      text-transform: capitalize;
      color: rgb(255, 255, 255);
      font-weight: 500;
    }

    & #img2 {
      display: none;
      color: #F08B39;
    }

    &:hover #img1 {
      display: none;
    }

    &:hover #img2 {
      display: flex;
    }

    &:hover span {
      color: black;
    }
  }

  & .main-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    display: flex;
    align-items: center;
  }
}




.search-bar {
  position: relative;
  border-radius: 20px;
  height: 35px;
}

.search-bar input {
  padding-left: 30px;
  border-radius: 5px;
  height: 100%;
  background-color: transparent;
  outline: gray;
  color: whitesmoke;
}

.search-bar button {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
  font-size: 20px;
  background-color: transparent;
  margin-left: 5px;
  outline: none;
}

.logout {
  margin: auto;
  font-size: 16px;
  text-decoration: none;
  color: #fffdfd;
}


.main-container {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: center;
  padding: 20px;
  /* Increased padding */
  gap: 20px;
  /* Increased gap */
}

.main-card {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  scrollbar-width: none;

}

.advert-card {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  scrollbar-width: none;
}


.card {
  width: 100%;
  margin-top: 20px;
  transition: transform 1s ease;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border: #f3eeef solid 1px;
 border-radius: 5px;

}

.card-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;

}

.card-heading {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 2px;


  & h2 {
    text-transform: capitalize;

  }
}

.card-profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card-icons {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 20px;

  & img {
    width: 28px;
    height: 28px;
  }

  & img:hover {
    filter: invert(35%) sepia(28%) saturate(1698%) hue-rotate(104deg) brightness(97%) contrast(97%);
    transform: translateY(-5px);
    transition: transform 1s ease-in-out;
    border: #333 1px solid;
    border-radius: 50%;
    padding: 2px;
    box-shadow: 1px 5px 5px #d1d0d0;
  }
}

.card-body {
  padding: 20px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-color: #f08b39;
  margin-bottom: 15px;
  border-radius: 1px;
  margin: 5px;
  text-align: center;
}

.card-divider {
  height: 1px;
  background-color: #c5c5c5;

}

.card-reactions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
  margin-top: 10px;
  margin-bottom: 10px;
  

  & .reaction{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    &:hover {
      transform: translateY(-5px);
      transition: transform 0.4s ease;
    }
    gap: 5px;

    & img {
      width: 20px;
      height: 20px;
    }

    & span{
      font-size: 14px;
      color: #0AA565;

    }
  

  }

  
}

.clip {
  margin-top: 20px;
  width: 100%;
  transition: transform 0.4s ease;
  height: 100%;
  background-color: white;

}

.clip-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;

}

.clip-heading {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 2px;


  & h2,
  p {
    text-transform: capitalize;
    font-size: 12px;
  }
}

.clip-profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.clip-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.clip-icons {
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 20px;

  & i:hover {
    color: #026d02;
    transform: translateY(-5px);
    transition: transform 0.4s ease-in-out;

  }
}

.clip-tag {
  padding-left: 20px;
  text-align: start;
  margin-top: 10px;
  margin-bottom: 10px;
}

.clip-body {
  color: white;
  padding: 20px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-color: rgb(14, 2, 34);
  margin-bottom: 15px;
  border-radius: 1px;
  margin: 5px;
  text-align: center;
}

.clipt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clip-by,
.clip-time {
  color: #000000;
  font-size: 10px;
  text-transform: capitalize;
  padding-left: 10px;
  padding-right: 10px;
}

.clip-divider {
  height: 1px;
  background-color: #2c2c2c;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-top: 10px;

}

.clip-reactions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;


  & i {
    font-size: 12px;
    font-weight: 100;
    background-color: #d3eada;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 30px;

    & span {
      margin-left: 5px;
      color: #026d02;
      font-weight: 400;
    }


  }

}


.messages{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: #d3d1d1 1px solid;
}

.message{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.message-picture{
  width: 30px;
  height: 30px;

  & img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.message-contact{
 font-size: 14px;

}

.message-time{
  font-size: 12px;
  & span{
    color: #0AA565;
  }
}


@media only screen and (max-width: 768px) {


  .main-content {
    width: 100%;
    left: 0;

  }
  .main-card,
  .advert-card {
    overflow-y: visible;
    height: auto;
  }

  .main-container {
    grid-template-columns: 1fr;
  }
  
  .main-card {
    order: 1;
  }

  .advert-card {
    order: 2;
  }

  .main-card:nth-of-type(2n) {
    order: 3;
  }

  .advert-card:nth-of-type(2n) {
    order: 4;
  }


  .logout {
    font-size: 14px;
    text-transform: none;
    
    
  }


  .search-bar {
    display: none;
  }




}

@media only screen and (max-width: 1024px) {

  .sidesection {
    display: none;
  }

  .menu-close {
    display: flex;
    justify-content: end;
  }

  .menu-open {
    display: flex;
    font-size: 20px;
    margin-left: 10px;

  }

  .card {

    margin-top: 20px;
  }












}