/* universal styling */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

a {
  color: #333;
}

li {
  list-style-type: none;
}

i {
  cursor: pointer;
  color: #5a5959;
}

/* universal styling */

/* sidbar styling */

.sidesection {
  position: fixed;
  width: 400px;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 1px 5px 5px #aaaaaa;
  background-color: #f0f5ef;
  height: 100%;
  padding: 10px;

}


.sidebar {

  padding: 10px;

}

.menu-close,
.menu-open {
  display: none;
}



.sidebar-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sidebar-logo,
a {
  text-decoration: none;
}

.sidebar-logo,
h1 {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  color: #333;
}


.sidebar-profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.sidebar-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.user-details {
  text-align: center;

  & p {
    color: rgb(49, 49, 49);
    font-size: 15px;
  }
}

.user-contact {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;


}

.sidebar-tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.user-tabsection {
  margin-top: 20px;
  margin-bottom: 10px;

}


.tabs {
  padding: 0;
  display: flex;
  list-style-type: none;
  transition: transform 0.4s ease;
  font-size: 15px;
  justify-content: center;
  gap: 1rem;
}

.tab {
  display: flex;
  align-items: center;
  padding: 0 5px;
  cursor: pointer;
  text-transform: capitalize;
  transition: transform 0.4s ease;
}

.tab:hover {
  color: #026d02;
}

.tab.active {
  color: #026d02;

}

.tab.active .span {
  display: inline;
  text-decoration: underline;
}

.span {
  display: none;
  margin-left: 5px;
}

.menu-divide {
  height: 1px;
  background-color: #030303;
}

.settings-menu span {
  margin-left: 10px;
  color: #d87728;
}


.tab-content-wrapper {
  overflow-y: auto;
  height: 70vh;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

.contemtent-section {
  padding-top: 20px;
  margin-top: 20px;
}


.settings-menu {
  display: flex;
  justify-content: space-between;
  padding: 10px;

}

.settings-list {
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.settings {
  font-size: 15px;
  font-weight: 700;
}


.submenu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 5px;
  margin-left: 30px;
  list-style-type: none;
  animation: slide-in 0.5s ease-in-out;
}

@keyframes slide-in {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.settings-menu,
h2 {
  display: flex;
  order: 2;
  font-size: 15px;
}

.notification-secttion,
.notification-header {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #3d3d3d;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 400;

}

.notification-secttion,
.notification-status {
  color: #222222;
  text-align: end;
  font-size: 10px;
  margin-bottom: 10px;
}

.notification-content {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 10px;
  border-bottom: rgb(192, 191, 191) solid 1px;
}


.notification-details {
  margin-left: 20Fpx;
  font-size: 10px;
}


.notification-time {
  display: flex;
  justify-content: end;
}

.notification-picture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 30px;
  overflow: hidden;

}

.notification-profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.title-receipt {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & i {
    color: #026d02;
    font-size: 15px;
  }


}


/*SERVICES SECTION STYLING STARTS HERE*/
#service {
  & h2 {
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;

  }
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-items: center;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.img-icon {
  width: 40px;
  height: 40px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;

  }


}

.icon-grid p {
  margin-top: 5px;
  font-size: 12px;
  text-transform: capitalize;
  font-weight: 600;
}

#pals {
  margin-top: 40px;
}

.pal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  margin: 10px 20px 0 20px;

}

/*SERVICES SECTION STYLING ENDS HERE*/

.wallet-card {
  padding: 20px;
  margin-top: 20px;
  width: 100%;
  background-color: #00a651;
  border-radius: 15px;
  overflow: hidden;
  text-transform: capitalize;
}

.total-rewards {
  color: white;
  text-align: center;
  line-height: 20px;

}

.reward-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: white;
  background-color: white;
  font-size: 20px;
  padding: 2px;
  overflow: hidden;
  border-radius: 100%;
}

.total-reward {
  display: flex;
  justify-content: space-between;
}

.rewards {
  display: flex;
  justify-content: space-between;
}

.current-reward,
.redeemed-reward {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
  font-weight: 600;
}

.current-reward p {
  color: #00a651;
}

.current-reward .reward {
  color: #3d3d3d;
}

.redeemed-reward .redeems {
  color: #C42026;
}

.redeemed-reward .redeem {
  color: #3d3d3d;
}

.tab-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.tab-redeemed,
.tab-rewarded {
  margin-top: 10px;
  padding: 10px 40px 10px 40px;
  text-align: center;
  width: 100%;
}

.reward-header {
  padding-top: 20px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
}

.reward-card{
  display: flex;
  align-items: center ;
  justify-content: space-between;
  padding: 5px;
  background-color: white;
  border-bottom: 1px solid rgb(129, 129, 129) ;
}
.reward-profile{
  display: flex;
  align-items: center;
  

}

.reward-picture {
  width: 60px;
  height: 60px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;

  }


}
.reward-name{
  font-size: 12px;

}


/*MAIN-CONTENT SECTION STYLING STARTS HERE*/
.main-content {
  position: relative;
  width: calc(100% - 400px);
  left: 400px;
}

.main-header {
  background-color: #d3eada;
  position: sticky;
  top: 0;


}


.main-nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;

}

.mainnav-tabs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  & i {
    margin-right: 5px;
  }

  & a.active {
    text-decoration: underline;
  }

}




.search-bar {
  position: relative;
  border-radius: 20px;
  height: 40px;
}

.search-bar input {
  padding-left: 30px;
  border-radius: 20px;
  height: 100%;
  background-color: transparent;
  outline: none;


}

.search-bar button {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
  font-size: 20px;
  background-color: transparent;
  margin-left: 5px;
}

.logout {
  margin: auto;
}


.main-container {
  display: flex;
  justify-content: center;
  padding: 10px;

  gap: 10px;

}


.card {
  width: 100%;
  margin-top: 20px;
  transition: transform 0.4s ease;
  box-shadow: 1px 1px 2px 2px #f0eeee;
  border-radius: 10px;

}

.card-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;

}

.card-heading {
  display: flex;
  gap: 20px;
  padding: 2px;


  & h2 {
    text-transform: capitalize;
  }
}

.card-profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card-icons {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 20px;

  & i:hover {
    color: #026d02;
    transform: translateY(-5px);
    transition: transform 0.4s ease-in-out;

  }
}

.card-body {
  padding: 20px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-color: #f08b39;
  margin-bottom: 15px;
  border-radius: 1px;
  margin: 5px;
  text-align: center;
}

.card-divider {
  height: 1px;
  background-color: #030303;

}

.card-reactions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;

  & i {
    font-size: 20px;
    font-weight: 100;

    & span {
      margin-left: 5px;
      color: #026d02;
      font-weight: 400;
    }


  }

}

.clip {
  margin-top: 20px;
  width: 100%;
  transition: transform 0.4s ease;
  height: 100%;
  background-color: white;

}

.clip-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;

}

.clip-heading {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 2px;


  & h2,
  p {
    text-transform: capitalize;
    font-size: 12px;
  }
}

.clip-profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.clip-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.clip-icons {
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 20px;

  & i:hover {
    color: #026d02;
    transform: translateY(-5px);
    transition: transform 0.4s ease-in-out;

  }
}

.clip-tag {
  padding-left: 20px;
  text-align: start;
  margin-top: 10px;
  margin-bottom: 10px;
}

.clip-body {
  color: white;
  padding: 20px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-color: rgb(14, 2, 34);
  margin-bottom: 15px;
  border-radius: 1px;
  margin: 5px;
  text-align: center;
}

.clipt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clip-by,
.clip-time {
  color: #000000;
  font-size: 10px;
  text-transform: capitalize;
  padding-left: 10px;
  padding-right: 10px;
}

.clip-divider {
  height: 1px;
  background-color: #2c2c2c;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-top: 10px;

}

.clip-reactions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;


  & i {
    font-size: 12px;
    font-weight: 100;
    background-color: #d3eada;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 30px;

    & span {
      margin-left: 5px;
      color: #026d02;
      font-weight: 400;
    }


  }

}



.main-advert {
  border: rgb(30, 255, 0) 1px solid
}


@media only screen and (max-width: 475px) {}







@media only screen and (max-width: 680px) {}




@media only screen and (max-width: 768px) {


  .main-content {
    width: 100%;
    left: 0;

  }

  .main-container {
    flex-wrap: wrap;
  }



  .logout {
    font-size: 10px;
    text-transform: none;
  }

  .search-bar {
    display: none;
  }




}

@media only screen and (max-width: 1024px) {

  .sidesection {
    display: none;
  }

  .menu-close {
    display: flex;
    justify-content: end;
  }

  .menu-open {
    display: flex;
    font-size: 20px;
    margin-left: 10px;

  }

  .card {

    margin-top: 20px;
  }

  .main-content {
    width: 100%;
    left: 0;

    & .main-nav {}

  }

  & .mainnav-tabs {
    padding: 5px;
    gap: 5px;



    & li {

      & a {
        display: flex;
        align-items: center;
        font-size: 10px;

      }


    }
  }





}